[Socket]
ListenStream=/run/{{name}}/socket
#ListenStream=3101
#BindIPv6Only=both
MaxConnections=4
NoDelay=true

[Install]
RequiredBy={{name}}.service
