[Unit]
Description={{description}}
After=network-online.target

[Service]
Type=notify

ExecStart={{installdir}}/bin/{{name}}
#ExecStop=/usr/bin/curl -XPOST --unix-socket {{socket}} http:/node/local/stop
TimeoutStartSec=40
StandardOutput=syslog
User={{name}}
Group={{name}}
PrivateTmp=true
NoNewPrivileges=true
RuntimeDirectory={{name}}
StateDirectory={{name}}
ConfigurationDirectory={{name}}

[Install]
WantedBy=multi-user.target
