[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

ExecStart={{installdir}}/bin/{{name}}
ExecStop=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/node/local/stop
ExecReload=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/node/local/reload
RestartSec=10
TimeoutStartSec=40
TimeoutStopSec=25
StandardOutput=syslog
User={{name}}
Group={{name}}
CPUWeight=20
IOWeight=20
SupplementaryGroups=http
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true
RuntimeDirectory={{name}}
StateDirectory={{name}}
ConfigurationDirectory={{name}}

[Install]
WantedBy=multi-user.target
